// Place all the styles related to the Statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    margin-top: 40px;
}

img {
    border-radius: 5px;
    box-shadow: 2px 2px 6px #555;
}

h1 {
    margin-top: 20px;
    text-shadow: 1px 1px 5px #555;
}

section {
    display: none;
}

.pills li a {
    text-shadow: 1px 1px 2px #888;
    font-size: 16px;
    font-weight: bold;
    color: #555
}

.pills li a:hover {
    background-color: #333;
}

.pills li.active a {
    box-shadow: 1px 1px 6px #555;
    background-color: #555;
}

.container > footer {
    text-align: center;
}

.container > footer p {
    color: #888;
    font-size: 12px;
}